body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);

body {
  font-family: "Lexend Deca", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 800px;
  margin: 20px auto;
}
.posts_context {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 10px;
}
.posts_card {
  padding: 5px 5px;
  border-radius: 5px;
}
.create_form_context {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
form {
  width: 450px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 20px;
}
.form-group input {
  height: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}
.form-group input:focus {
  outline: 0px;
}
